.header {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 5rem;
  align-items: center;
  justify-content: center;
  background-color: #dbffca;
}

.headerlogo {
  background-color: transparent;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fname {
  position: relative;
  font-family: "Inter";
  color: black;
  font-weight: 400;
  font-size: 2.5rem;
  top: 1.4rem
}

.lname {
  position: relative;
  font-family: "Inter";
  color: #30d35d;
  font-weight: 400;
  font-size: 3.278rem;
  top: 0rem;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.mobileheaderlogo {
  background-color: transparent;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hlshow {
  display: flex;
}

.menusvg {
  stroke: black;
}

.header ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header li {
  margin-left: 3rem;
  margin-right: 3rem;
}

.header a {
  font-family: "Inter";
  font-style: regular;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.header a:active,
.header a:hover,
.header a.active {
  color: #4100fc;
}

/*drawer*/
.drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*drawer list*/
.drawer ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-direction: column;
}

/*drawer list item*/
.drawer li {
  margin: 1rem 10rem;
}
/*drawer list item hover*/
.drawer li:hover {
  color: #4100fc;
}

/*drawer list item link*/
.drawer a {
  font-family: "Inter";
  font-style: regular;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

/*drawer list item link hover*/
.drawer a:hover {
  color: #4100fc;
}

/*remove default button style*/
.menuBtn {
  background-color: transparent;
  border: none;
  outline: none;
}

.mobileHeader {
  display: none;
  padding: 1.5rem;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: #dbffca;
}

/*responsive header*/
@media (max-width: 768px) {
  .header {
    display: none;
  }
  .fname {
    font-size: 2rem;
    top: 1rem
  }
  .lname {
    font-size: 2.5rem;
    top: -0.1rem;
  }
  .mobileHeader {
    display: flex;
  }
}

/*responsive for big screens */
@media (min-width: 1366px) {
  .header {
    height: 8.5rem;
  }

  .headerlogo {
    width: 10rem;
    height: 10rem
  }

  .header li {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .header a {
    font-size: 1.5rem;
  }
}

/*get browser dark mode*/
@media (prefers-color-scheme: dark) {
  .header {
    background-color: #1a1a1a;
  }
  .fname {
    color: white;
  }
  .lname {
    color: #30d35d;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  }
  .header a {
    color: white;
  }

  .header a:hover {
    color: #4100fc;
  }

  .drawer a {
    color: black;
  }

  .drawer a:hover {
    color: #4100fc;
  }

  .mobileHeader {
    background-color: #1a1a1a;
  }

  .mobileHeader a {
    color: white;
  }

  .mobileHeader a:hover {
    color: #4100fc;
  }

  .menusvg {
    stroke: white;
  }
}
