.box {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 2rem;
    border-radius: 20px;
    background-color: #f2ffcd;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.desc {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: justify;
}

.textBox {
    flex-direction: column;
    flex-wrap: wrap;
    width: 55%;
}

.imgBox {
    width: auto;
    height: auto;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .box {
        justify-content: center;
        align-items: center;
    }
    .textBox {
        margin: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-size: 2rem;
        text-align: center;
    }
    .desc {
        font-size: 1.2rem;
        text-align: justify;
    }
}