.mainLogo {
  background-color: #dbffca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 100vw;
}

.fname {
  position: relative;
  font-family: "Inter";
  color: black;
  font-weight: 400;
  font-size: 7rem;
}

.lname {
  position: relative;
  font-family: "Inter";
  color: #30d35d;
  font-weight: 400;
  font-size: 7.778rem;
  top: -3.6rem;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.description {
  color: black;
  position: relative;
  top: -2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  left: 0.5rem;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*responsive text and div*/
@media (max-width: 768px) {
  .mainLogo {
    height: 20rem;
    padding-bottom: 3rem;
  }
  .fname {
    font-size: 6rem;
  }
  .lname {
    font-size: 6.5rem;
    top: -3rem;
  }
  .description {
    font-size: 1.75rem;
    top: -1.5rem;
  }
}

/*responsive for big screens*/
@media (min-width: 1440px) {
  .mainLogo {
    height: 40rem;
  }
  .fname {
    font-size: 8rem;
  }
  .lname {
    font-size: 9rem;
    top: -4rem;
  }
  .description {
    font-size: 3rem;
    top: -3rem;
  }
}
