.mainBodyDesc {
  font-family: "Inter-Light";
  background-color: #f4ffb0;
  color: black;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  text-align: center;
  font-size: 1.5rem;
  width: 100vw;
}

/*responsive div and text*/
@media (max-width: 768px) {
  .mainBodyDesc {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.25rem;
  }
}

/*responsive for big screens*/
@media (min-width: 1366px) {
  .mainBodyDesc {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 2rem;
  }
}

/*browser dark mode*/
@media (prefers-color-scheme: dark) {
  .mainBodyDesc {
    background-color: #2d320d;
    color: white;
  }
}
