@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.woff);
}
@font-face {
  font-family: "Inter-Bold";
  src: url(../assets/fonts/Inter-Bold.woff);
}

@font-face {
  font-family: "Inter-Light";
  src: url(../assets/fonts/Inter-Light.woff);
}

html,
body {
  height: 100%;
  background-color: #dbffca;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/*browser dark mode*/
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(64, 82, 60);
  }
}
